/* Palette colori
azzurro: #09A9ED;
verde scuro: #2CC6AB;
verde chiaro: #A3D116;
viola: #AB5DE6;
grigio add selection: #D4D9DD;
ciclamino: #EC4A9D;
bianco sfondo: #F6F8F9;
arancione: #FF9B00;
*/
header{
  margin: 0 auto;
}
span{
  font-size: 2.75em;
  line-height: 2px;
  font-weight: 750;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  height: 100px;
  vertical-align: middle;
}